@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
body{
    background-color:hsl(204, 43%, 93%) ;
}
main{
    display: grid;
    font-family: 'Karla', sans-serif;
}
h1{
   color: hsl(179, 62%, 43%); 
}
h3{
    color:hsl(71, 73%, 54%);
}
.join p{
    color:hsl(218, 22%, 67%);
}
h2{
    color:white;
}
.dollar{
    color:white;
    font-weight: 700;
}
span{
    font-size: 25px;
}
p{
   color:  hsl(204, 43%, 93%);
   width: 250px;
   font-size: 16px;
}
.join{
    background-color: white;
}
.monthly{
    background-color: hsl(179, 62%, 43%);
}
.why{
    background-color: hsl(179, 62%, 47%);
}
button{
    background-color: hsl(71, 73%, 54%);
    color: white;
    padding:20px 85px;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    font-weight: 700;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main{
        margin-top: 50px;
    }
    button{
        margin-bottom: 30px;
        margin-left: 40px;
    }
    p{
        margin-left: 40px;
        width: 220px;
        line-height: 25px;
    }
    h1{
        margin-left: 40px;
        font-size: 20px;
        margin-top: 20px;
    }
    h3{
        font-size: 18px;
        margin-left: 40px;
        margin-top: 20px;
    }
    h2{
        margin-left: 40px;
        font-size: 20px;
        margin-top: 20px;
    }
    .dollar{
        margin-left: 40px;
    }
    .join{
        grid-area:1/1/2/2;
        max-width: 20em;
        margin-left: 5em;
        margin-right: 5em;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .monthly{
        grid-area: 2/1/2/3;
        max-width: 20em;
        margin-left: 5em;
        margin-right: 5em;
    }
    .why{
        grid-area:3/1/4/2;
        max-width: 20em;
        margin-left: 5em;
        margin-right: 5em;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) { 
main{
    margin-top: 70px;
}
button{
    margin-bottom: 40px;
    margin-left: 40px;
}
p{
    margin-left: 40px;
    width: 220px;
    line-height: 25px;
}
h1{
    margin-left: 40px;
    font-size: 20px;
    margin-top: 40px;
}
h3{
    font-size: 18px;
    margin-left: 40px;
    margin-top: 40px;
}
h2{
    margin-left: 40px;
    font-size: 20px;
    margin-top: 40px;
}
.dollar{
    margin-left: 40px;
}
.join{
    grid-area:1/1/2/2;
    margin-left: 5em;
    margin-right: 5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 50em;
}
.monthly{
    grid-area: 2/1/2/3;
    margin-left: 5em;
    margin-right: 5em;
    max-width: 50em;
}
.why{
    grid-area:3/1/4/2;
    margin-left: 5em;
    margin-right: 5em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 50em;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}